# Ignore the 'models' folder inside 'piper'
piper/models/

# Ignore the 'pkgconfig' folder inside 'piper'
piper/pkgconfig/

cModels/intent_classifier.joblib
cModels/run
cModels/vectorizer.joblib

assets/