# Ignore the 'models' folder inside 'piper'
utils/piper/models/

# Ignore the 'pkgconfig' folder inside 'piper'
utils/piper/pkgconfig/

utils/cModels/intent_classifier.joblib
utils/cModels/run
utils/cModels/vectorizer.joblib

assets/
.env